---
toc: true
comments: false
layout: post
title: Practice With html Tables
type: hacks
description: Using code cells in vscode to practice running bash commands
courses: { compsci: {week: 3} }
---

In [2]:
%%html

<h2>HTML Cell Output from Jupyter</h2>

<!-- Body contains the contents of the Document -->
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>City</th>
                <th>Payroll</th>
                <th>World Series Titles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Padres</td>
                <td>San Diego</td>
                <td>$253,125,318</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Dodgers</td>
                <td>Los Angeles</td>
                <td>$238,820,877</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Giants</td>
                <td>San Fransisco</td>
                <td>$187,257,999</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Diamondbacks</td>
                <td>Arizona</td>
                <td>$117,748,440</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Rockies</td>
                <td>Colorado</td>
                <td>$169,964,638</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Yankees</td>
                <td>New York</td>
                <td>$278,534,629</td>
                <td>27</td>
            </tr>
            <tr>
                <td>Blue Jays</td>
                <td>Toronto</td>
                <td>$213,739,273</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Orioles</td>
                <td>Baltimore</td>
                <td>$71,034,917</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Rays</td>
                <td>Tampa Bay</td>
                <td>$79,191,626</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Red Sox</td>
                <td>Boston</td>
                <td>$181,384,215</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Reds</td>
                <td>Cincinatti</td>
                <td>$96,667,936</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Brewers</td>
                <td>Milwaukee</td>
                <td>$124,862,705</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Cubs</td>
                <td>Chicago</td>
                <td>$186,404,966</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Cardinals</td>
                <td>St. Louis</td>
                <td>$153,001,431</td>
                <td>11</td>
                </tr>
            <tr>
                <td>Pirates</td>
                <td>Pittsburgh</td>
                <td>$68,945,732</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Rangers</td>
                <td>Texas</td>
                <td>$247,286,302</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Angels</td>
                <td>Los Angeles</td>
                <td>$230,549,382</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Athletics</td>
                <td>Oakland</td>
                <td>$58,922,449</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Mariners</td>
                <td>Seattle</td>
                <td>$134,528,839</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Astros</td>
                <td>Houston</td>
                <td>$236,735,391</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Guardians</td>
                <td>Cleveland</td>
                <td>$92,356,432</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Twins</td>
                <td>Minnesota</td>
                <td>$155,449,409</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Royals</td>
                <td>Kansas City</td>
                <td>$91,287,724</td>
                <td>2</td>
            </tr>
            <tr>
                <td>White Sox</td>
                <td>Chicago</td>
                <td>$162,728,351</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Tigers</td>
                <td>Detroit</td>
                <td>$121,319,014</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Mets</td>
                <td>New York</td>
                <td>$343,631,419</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Braves</td>
                <td>Atlanta</td>
                <td>$206,225,382</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Nationals</td>
                <td>Washington</td>
                <td>$93,191,975</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Marlins</td>
                <td>Miami</td>
                <td>$101,005,905</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Phillies</td>
                <td>Philadelphia</td>
                <td>$245,203,476</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
</body>

# Notes
- I understand how to use and edit html tables in order to display information 
- I will try and figure out how to make this more complex in order to display information that updates over time